<!DOCTYPE html>
<html>
<head>
    <title>Chu, Chih-Yu's Website Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">
        <div class="header">
          <a href="#" class="header-link">
            <img src="img_personal_portrait.JPG" alt="Chu Chih-Yu" class="profile-pic">
          </a>
            <div class="profile-name">
              <h1>Chu, Chih-Yu's Website Portfolio</h1>
              <h3>朱智宇的網頁作品集</h3>
            </div>
            
        </div>
        <div class="portfolio">
            <div class="card" v-for="item in portfolioItems">
              <a :href="item.link" target="_blank">
                <img :src="item.image" alt="Project Image" class="project-image">
                  <div class="project-info">
                      <h2 class="project-info-name">{{ item.name }}</h2>
                      <p class="project-info-nameCh">{{ item.nameCh }}</p>
                      <ul class="project-info-detail">
                        <li v-for="detailItem in item.detail">{{ detailItem }}</li>
                      </ul>
                  </div>
              </a>  
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
